html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background-color: #61a8b4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 3em;
  margin-bottom: 2%;
}

.post {
  width: 80%;
  border-radius: 15px;
  padding: 10px;
  background-color: #f2eee2;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  font-size: 1.5em;
  overflow: auto;
}

#syntext {
  height: 80%;
  font-size: 2em;
}

span.char {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}

span.a {
  text-shadow: -2px -2px 0px #d30003;
  color: #d30003;
}

span.b {
  text-shadow: -2px -2px 0px #194c83;
  color: #194c83;
}

span.c {
  text-shadow: -2px -2px 0px #ffc456;
  color: #ffc456;
}

span.d {
  text-shadow: -2px -2px 0px #3d2c4c;
  color: #3d2c4c;
}

span.e {
  text-shadow: -2px -2px 0px #008128;
  color: #008128;
}

span.f {
  text-shadow: -2px -2px 0px #5e4a7b;
  color: #5e4a7b;
}

span.g {
  text-shadow: -2px -2px 0px #073630;
  color: #073630;
}

span.h {
  text-shadow: -2px -2px 0px #6b3710;
  color: #6b3710;
}

span.i {
  text-shadow: -2px -2px 0px #fafdce;
  color: #fafdce;
}

span.j {
  text-shadow: -2px -2px 0px #022b69;
  color: #022b69;
}

span.k {
  text-shadow: -2px -2px 0px #ff923b;
  color: #ff923b;
}

span.l {
  text-shadow: -2px -2px 0px #fbff4a;
  color: #fbff4a;
}

span.m {
  text-shadow: -2px -2px 0px #d49eab;
  color: #d49eab;
}

span.n {
  text-shadow: -2px -2px 0px #30004f;
  color: #30004f;
}

span.o {
  text-shadow: -2px -2px 0px #ffecdd;
  color: #ffecdd;
}

span.p {
  text-shadow: -2px -2px 0px #da6b50;
  color: #da6b50;
}

span.q {
  text-shadow: -2px -2px 0px #664b74;
  color: #664b74;
}

span.r {
  text-shadow: -2px -2px 0px #870100;
  color: #870100;
}

span.s {
  text-shadow: -2px -2px 0px #0e0a07;
  color: #0e0a07;
}

span.t {
  text-shadow: -2px -2px 0px #fecd71;
  color: #fecd71;
}

span.u {
  text-shadow: -2px -2px 0px #ffff5a;
  color: #ffff5a;
}

span.v {
  text-shadow: -2px -2px 0px #fd5d43;
  color: #fd5d43;
}

span.w {
  text-shadow: -2px -2px 0px #ffe4a0;
  color: #ffe4a0;
}

span.x {
  text-shadow: -2px -2px 0px #072240;
  color: #072240;
}

span.y {
  text-shadow: -2px -2px 0px #fccd4b;
  color: #fccd4b;
}

span.z {
  text-shadow: -2px -2px 0px #65095e;
  color: #65095e;
}

span.n1 {
  text-shadow: -2px -2px 0px #ffffc6;
  color: #ffffc6;
}

span.n2 {
  text-shadow: -2px -2px 0px #0ba31d;
  color: #0ba31d;
}

span.n3 {
  text-shadow: -2px -2px 0px #dc454e;
  color: #dc454e;
}

span.n4 {
  text-shadow: -2px -2px 0px #750269;
  color: #750269;
}

span.n5 {
  text-shadow: -2px -2px 0px #3339a9;
  color: #3339a9;
}

span.n6 {
  text-shadow: -2px -2px 0px #f1db38;
  color: #f1db38;
}

span.n7 {
  text-shadow: -2px -2px 0px #ffba1e;
  color: #ffba1e;
}

span.n8 {
  text-shadow: -2px -2px 0px #0a0046;
  color: #0a0046;
}

span.n9 {
  text-shadow: -2px -2px 0px #8e070e;
  color: #8e070e;
}

span.n0 {
  text-shadow: -2px -2px 0px #fafaf8;
  color: #fafaf8;
}
